
 /*--------------------------------------------------------*/
/*_________header_________________________________________*/

	header {margin-top: 30px;}

	hgroup h1{
		display: block ;
		width: 100% ;
		text-align: center ;
		}
	hgroup h1 a{text-decoration: none !important;/*for opera*/}
		hgroup h2{
			width: 100% ;
			text-align: center ;
			font-size: 14px ;
			color: #6a6a6a ;
			}


	/*-- nav --*/
	#nav {
		margin: 30px 0 0 0;
		width: 100% ;
		}
		#nav ul{
			margin: 0 auto ; 
			text-align: center ;
		/*	background: #f9f9f9 ;*/
			margin: 0 10px ;
			padding: 2px 0 ;
			}
			#nav ul li{
				display: inline;
				margin: 0 18px 0 0 ;
				}

		#nav a {
			text-decoration: none ;
			padding: 4px 3px 5px 3px ;
			font-size: 11px ;
			}
			#nav a:hover {
				color: #8b8b8b ;
				background: rgb(255, 255, 255) ; 
				background: rgba(255, 255, 255, 0.8) ; 
				}

	/*-- wp_nav_menu level2 --*/
.menu-header { 
	display: block ; 
	position: relative ; 
	top: 0 ; 
	left: 0 ; 
	z-index: 3 ;
	}

ul.menu {
	padding: 0 ;
	list-style: none ;
	position: relative ;
	margin: 0 10px ;
	}
	ul.menu li {
		margin: 0 ; 
		padding: 0 ;
		display: inline ;
		margin: 0 18px 0 0 ;
		}
		ul.menu li a {
			text-decoration: none ;
			padding: 5px 3px ;
			display: inline ;
			}
			ul.menu li:hover { color: #8b8b8b ;}
		ul.menu li ul {
			position: absolute ;
			left: 0 ; 
			display: none ;
			width: 100% ;
		 	margin: 0 !important ;
			}
			ul.menu li ul ul{
				margin: 0 ;
				background: none !important;
				position: static ;
				display: none ;
				float: left ;
				}
	ul.menu li:hover ul {}
	ul.menu li ul li a { display: inline ; }

		#headsearchform input{
			width: 100% ; 
			border-top: 0px ;
			border-left: 0px ;
			border-right: 0px ;
			border-bottom: 1px solid #e2e2e2 ;
			text-align: center ;
			margin: 0 ;
			padding: 10px 0 ;
			}
			.toggle_container {
				padding: 0;
				overflow: hidden;
				width: 100%;
				}
	.toggle{
		text-align: center ; 
		width: 100% ; 
		padding: 3px 0 ; 
		cursor: pointer ;
		}
		.toggle span{
			margin: 0 auto ;
			font-family: 'Gentium Basic', serif;
			letter-spacing: 0.2em ;
			}


 /*--------------------------------------------------------*/
/*_________opacity settings_______________________________*/

	.toggle,
 	#nav ul,
	.single-main h2{
		background: rgb(249, 249, 249); 
		background: rgba(249, 249, 249, 0.5);  
		}

	#headsearchform input{
		background: rgb(255, 255, 255); 
		background: rgba(255, 255, 255, 0.5);  
		}
	.feature span{
		color: rgb(255, 255, 255); 
		color: rgba(255, 255, 255, 0.5); 
		}

 /*--------------------------------------------------------*/
/*_________contents_______________________________________*/

	article.index_article{margin-top: 35px ;}
	article.single_article{margin-top: 25px ;}
	aside{margin-left: 20px ;}
	address{float: right ;}

	.single-main{
		width: 640px ;
		margin: 0 auto ;
		}


	/*-- headding --*/
	.single-main h2,
	.single-main h3,
	.single-main h4,
	.page h2{letter-spacing: 0.1em ;}


	.single-main h2{
		padding: 8px 0 10px 19px ;
		margin:0 0 35px 0 ;
		clear: both ;
		font-weight: bold ;
		}
	.single-main h3{
		font-size: 22px;
		padding: 8px 0 10px 11px ;
		margin:45px 0 15px 0 ;
		font-weight: bold ;
		}
	.single-main h4{ 
		padding: 8px 0 3px 11px ;
		font-size: 18px; 
		line-height: 22px; 
		margin:25px 0 15px 0 ;
		color: #575757 ;
		border-bottom: 1px solid #f5f5f5 ;
		}

	.page h2{
		margin:25px 0 25px 0 ;
		padding: 8px 0 10px 19px ;
		background: #fff ;
		}

	.single-main h2 a,
	.page h2 a{text-decoration: none ;}

	/*-- img --*/

	#headerImage{margin-bottom: 0px ; }
		#headerImage img{
			max-width: 100% ;
			height: auto ;
			margin-top: 0 ;
			}

.feature{position: relative;}
	.feature span{
		position: absolute ; 
		bottom: 10px ; 
		left: 10px ;
		z-index: 1 ;
		font-size: 9px ;
		} 

	.feature img,
	.single-main img {
		max-width: 100% ;
		height: auto ;
		}
		.index_article section{margin-bottom: 15px ;}

	/*-- others --*/

	.single-main ul,
	.single-main ol{margin:10px 0 10px 25px ;}
	.single-main ul li{list-style-type: decimal; line-height: 14px ; margin: 10px 0 0 0 ;}
	.single-main ol li{list-style-type: circle; line-height: 14px ; margin: 10px 0 0 0 ;}

	pre{
		font-size: 12px;
		padding: 15px ;
		margin: 0 ;
		background: #f9f9f9 ;
		border-left: 1px solid #ccc ;
		line-height: 20px ;
		overflow: auto ;
		white-space: pre-wrap ;
		word-wrap: break-word ;
		margin:0 0 20px 0 ;
		}

	aside.tags{
		margin-top: 30px ;
		}
	aside.tags ul{
		margin-left: 0 ;
		}
		.tags ul li{list-style-type: none ;}
		.tags ul li a{
			padding: 2px 5px ; 
			background: #f1f1f1 ; 
			border: 1px solid #d1d1d1 ; 
			text-decoration: none ; 
			border-radius: 3px ;
			}
			.tags ul li a:hover{
				background: #d9d9d9 ; 
				color: #262626 ;
				}
		.single-main p{
			word-wrap: break-word;
			line-height: 20px ;
			margin-bottom: 20px ;
			}

	.p-name{
		font-size: 10px ;
		color: #6a6a6a ;
		padding-left: 5px ;
		}
	address span{
		font-size: 11px ;
		color: #6a6a6a ;
		vertical-align: middle ;
		}

	/*-- Pagenations --*/

	nav .fl{float: left ;}
	nav .fr{float: right ;}

	/*-- Respoicive iframe --*/

	.media-container {
		position: relative ; 
		margin: 0 0 15px 0 ;
		padding-bottom: 51% ; 
		padding-top: 30px ; 
		height: 0 ; 
		overflow: hidden ; 
		border: 1px solid #ccc ; 
		width: 100% ; 
		height: 100% ;
		}
		.media-container iframe,
		.media-container object,  
		.media-container embed { 
			position: absolute ; 
			top: 0 ; 
			left: 0 ; 
			width: 100% ; 
			height: 100% ;
			}


 /*--------------------------------------------------------*/
/*_________comments_______________________________________*/

	.comments-tab{
		padding-top: 50px ; 
		clear: both ; 
		border-top: 1px solid #e9e9e9 ;
		}
		.commnetsarea p{line-height: 20px ;}
		.commnetsarea .input-area{ width: 100% ;}
		.commnetsarea .input-item{
			float: left ;
			width: 32.1% ; 
			height: 51px ;
			}
		.commnetsarea .input-item input{ width:100%;}
		.commnetsarea textarea{	
			width: 99.8% ;
			overflow: auto ;
			}
	.input-center{margin: 0 11px ;}

		.comment-author img{
			float: left ; 
			margin-right: 30px ; 
			padding: 3px ; 
			background: #eee ;
			border: 1px solid #d3d3d3 ;
			}
		.comment-author .name-label{
			float: left ; 
			margin-top: 25px ;
			}
			.commnetsarea ul.tabs-content{margin: 0 ;}
			.commnetsarea ul.tabs-content li{
				border-bottom: 1px solid #e9e9e9 ; 
				margin: 0 ; 
				padding: 20px 0 20px 0 ; 
				font-size: 12px ; 
				list-style-type: none ;
				}
		.commnetsarea ul.tabs-content ul {margin-left: 25px ;}
			.commnetsarea ul.tabs-content li.comment:last-child,
			.commnetsarea ul.tabs-content ul li.comment{
				border-bottom: none ;
				}

	#respond{margin-top: 30px ;}
	#respond h3{ margin-left: 4px ;}

 /*--------------------------------------------------------*/
/*_________footer_________________________________________*/

	.footer{
		display: block ;
		margin-top: 20px ;
		padding-top: 25px ;
		border-top: 1px solid #dedede ;
		width: 100% ;
		height: auto ;
		}
		footer input#s{width: 150px ;}
		footer input{
			float: left ;
			padding: 0 ; 
			margin: 0 ;
			}
			.copyright{
				font-family: 'Gentium Basic', serif;
				margin: 2px 0 ;
				line-height: 18px ;
				}

	.widget h2,
	.widget h3,
	footer h3{
		padding: 0 0 5px 5px ;
		margin: 0 0 15px 0 ;
		font-size: 14px ;
		font-weight: bold ;
		width: 100% ;
		}


 /*--------------------------------------------------------*/
/*_________Social Links Custom Widget_____________________*/

	.widget_sociallinks a {padding:0 20px;}
		.widget_sociallinks a.rss {
			background:url(../images/rss-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.twitter {
			background:url(../images/twitter-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.facebook {
			background:url(../images/fb-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.youtube {
			background:url(../images/youtube-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.tumblr {
			background:url(../images/tumblr-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.google {
			background:url(../images/google-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.skype {
			background:url(../images/skype-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.flickr {
			background:url(../images/flickr-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.vimeo {
			background:url(../images/vimeo-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.linkedin {
			background:url(../images/linkedin-icon.png) 0 0 no-repeat;
			}
		.widget_sociallinks a.delicious {
			background:url(../images/delicious-icon.png) 0 0 no-repeat;
			}


 /*--------------------------------------------------------*/
/*_________404____________________________________________*/

	.noresults{
		width: 100% ;
		height: auto ;
		margin: 100px 0 150px ; 
		padding: 0 ;
		}
		.noresults h2{/*404*/
			text-align: center ;
			font-size: 55px ;
			background: none ;
			padding: 30px 0 5px 0 ;
			}
			.noresults p{text-align: center ;}


 /*--------------------------------------------------------*/
/*_________Fangate________________________________________*/

	.fb_fangate_file header {margin: 5px 0 5px ;}
	.fb_fangate_file header h1{font-size: 12px ;text-align:left ;}
	h2.fangate_h2{text-align: center ;margin: 5px 0 5px ;}

	.overlay {
		display: block ;
		width: 100% ;
		margin: 0 ;
		background: #fff ;    
		position: fixed ;
		top: 0px ;
		bottom: 0px ;
		left: 0px ;
		right: 0px ;
		z-index: 1000 ;
		filter: alpha(opacity=98) ;
		opacity: 0.98 ;
		}
		.overlay .content {margin: 10px ;}

	.modal {
		margin: 0 ;
		padding: 0 ;
		}
	ul.tabs-content{
		margin: 0 ;
		padding: 0 ;
		}
		ul.tabs-content li{
			list-style-type: none ;
			line-height: 20px ;
			}


 /*--------------------------------------------------------*/
/*_________Media Queries__________________________________*/

	@media only screen and (min-width: 768px) and (max-width: 959px){

	.commnetsarea input{width: 100% ; margin-bottom: 10px ;}
	.commnetsarea .input-item{float: left ;width: 100% ; height: 53px ;}
	.commnetsarea textarea{ margin-top: 23px ; }
	.input-center{margin: 0 ;}
	}

	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
	}
	

	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {

	#nav{background: none !important;}
		#nav a {
			font-size: 11px ;
			padding: 2px 3px ;
			background: #f1f1f1 ; 
			background: rgb(241, 241, 241); 
			background: rgba(241, 241, 241, 0.5);  
			border: 1px solid #d1d1d1 ; 
			text-decoration: none ; 
			border-radius: 3px;
			}
			#nav a:hover {border: 1px solid #d1d1d1 ; }
		#nav ul{background: none !important;}
			#nav ul li{
				display: inline-block;
				margin: 2px;
				margin-bottom: 0px ;
				}

	.widget{
		border-bottom: 1px solid #e9e9e9 ;
		padding: 30px 0 ;
		font-size: 11px ;
		}

	h1{
		font-size: 35px ;
		text-align: center ;
		}

		.tags ul li a{
			font-size: 10px ;
			margin-bottom: 3px ;
			}

	.noresults h2{font-size: 40px ;}
		.copyright{
			font-size: 11px ;
			margin-top: 20px ;
			}

	.commnetsarea input{width: 100% ; margin-bottom: 10px ;}
	.commnetsarea .input-item{float: left ;width: 100% ; height: 53px ;}
	.commnetsarea textarea{ margin-top: 23px ; }
	.input-center{margin: 0 ;}
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile/only */
	@media only screen and (max-width: 480px) {

	#headsearchform input{
		width: 100% ; 
		font-size: 10px ;
		}

	#nav,
	#nav ul {
		margin: 0;
		background: none !important;
		}
		#nav a {font-size: 13px ;}
			#nav a:hover {border: 1px solid #d1d1d1 ; }
		#nav ul{margin-bottom: 45px ;}
			#nav ul li{
				display: block;
				margin: 0;
				text-align: center ;
				margin-bottom: 0px ;
				width: 100% ;
				padding: 2px 0 ;
				}
				#nav ul li a{
					display: block;
					width: 97% ;
					}

ul.menu {position: static ;}
	ul.menu li {}
		ul.menu li a {}
			ul.menu li:hover {}
		ul.menu li ul {
			position: static ;
		 	margin: 0 !important ;
			}

	ul.menu li ul ul{background: none !important;position: static ;display: none ;}
	ul.menu li:hover ul {}
	ul.menu li ul li a {}
	ul.menu li ul a:hover {}


	h1{
		font-size: 25px ;
		text-align: center ;
		line-height: 25px;
		}
		hgroup h2{
			font-size: 12px ;
			margin-bottom: 15px ;
			}

	.noresults h2{font-size: 25px ;}
	aside{font-size: 10px ;}
	pre{width: 90% ;}

	.tags ul li a{
		font-size: 10px ;
		margin-bottom: 3px ;
		}


	.widget a,
	footer ul li a{
		font-size: 10px ;
		padding: 2px 3px 2px 15px ;
		background: rgb(241, 241, 241); 
		background: rgba(241, 241, 241, 0.5);
		border: 1px solid #d1d1d1 ; 
		text-decoration: none ; 
		border-radius: 3px;
		display: block;
		width: 95% ;
		}
		.widget:last-child{border-bottom: none ;}
	.widget ul, footer ul li ul{margin: 0 ; padding: 0 ;}
	.widget li, footer ul li li{margin:2px 0 ;}
	.widget li ul, footer ul li li ul{margin-left:7px;}
	.widget li ul a{
			font-size: 10px ;
			padding: 2px 3px 2px 15px ;
			background: rgb(231, 231, 231); 
			background: rgba(231, 231, 231, 0.5);
			border: 1px solid #d1d1d1 ; 
			text-decoration: none ; 
			border-radius: 3px;
			display: block;
			width: 95% ;
			}

			.copyright{
				font-size: 12px ;
				text-align:center ;
				}

			.copyright .f_links{
				display: inline-block ;
				width: 310px ;
				}

			.copyright a{
				padding: 2px 3px ;
				background: rgb(241, 241, 241); 
				background: rgba(241, 241, 241, 0.5);
				border: 1px solid #d1d1d1 ; 
				text-decoration: none ; 
				border-radius: 3px;
				}


	footer h3{margin-top: 10px ;}

	ul.tabs li { 
		max-width: 65px ;
		height: 80px;
		}
		ul.tabs li a { 
			font-size: 10px ;
			min-width: 50px ;
			height: 79px; 
			padding: 3px 10px 0 ; 
			line-height: 13px ;
			word-break: break-all;
			}
			ul.tabs li a.active { height: 80px;}

	.commnetsarea{font-size: 11px ;}
	.commnetsarea input{width: 97% ; margin-bottom: 10px ;}
	.commnetsarea .input-item{float: left ;width: 97% ; height: 53px ;}
	.commnetsarea textarea{ margin-top: 23px ;width: 96% ; }
	.input-center{margin: 0 ;}
		.commnetsarea ul.tabs li a { font-size: 9px ;}

	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	